<router-outlet></router-outlet>
<!-- Detect Changes & Parent-Childs -->
<!-- <app-dashboard /> -->

<!-- Atribiutos -->
<div [ngStyle]="{ color: condition ? 'blue' : 'red' }">ngStyle</div>
<div [ngClass]="{ color: condition ? 'class1' : 'class2' }">ngClass</div>

<hr />
<!-- Estructurales -->
<div *ngIf="condition">Me he renderizado pq condition es TRUE</div>

<p>
  Condition: <b>{{ condition }}</b>
</p>

<ng-container [ngSwitch]="condition">
  <ng-container *ngSwitchCase="true">Me he renderizado con Switch</ng-container
  ><br />
</ng-container>

<!-- Con varias opciones -->
<ng-container [ngSwitch]="selectedOption">
  <ng-container *ngSwitchCase="'Carolina'">Yo soy Carolina</ng-container>
  <ng-container *ngSwitchCase="'Tata'">Yo soy Tata</ng-container>
  <ng-container *ngSwitchCase="'Marciela'">Yo soy Marciela</ng-container>
  <!-- <ng-container *ngSwitchCase="'Ferxxo'">Yo soy EL FERXXO PA'</ng-container> -->
  <ng-container
    *ngSwitchCase="'Ferxxo'"
    [ngTemplateOutlet]="AlakranTemplate"
  ></ng-container>
</ng-container>

<ng-template #AlakranTemplate>
  <ul>
    <ng-container
      *ngFor="let item of arreglito; let i = index; trackBy: trackByFn"
    >
      <li *ngIf="condition">{{ item.name + " - " + i }}</li>
    </ng-container>
  </ul>
</ng-template>

<!-- <div *ngFor="let item of arreglito">{{ item }}</div> -->
<!-- <ul>
  <ng-container
    *ngFor="let item of arreglito; let i = index; trackBy: trackByFn"
  >
    <li *ngIf="condition">{{ item.name + " - " + i }}</li>
  </ng-container>
</ul> -->

<hr />
<!-- Templates -->
<ng-container>Dom</ng-container>
<ng-template #template>Esto es un Template</ng-template>

<hr />
<!-- NgIf por Angular -->
<ng-template [ngIf]="condition">
  <div>Me he renderizado</div>
</ng-template>

<hr />
<!-- NgFor por Angular -->
<ng-template ngFor let-item [ngForOf]="arreglito" let-i="index">
  <div>{{ item.name }}</div>
</ng-template>
